
:root {
    --ion-color-primary: #8b4513; 
    --ion-color-primary-rgb: 139, 69, 19;
  
    --ion-color-secondary: #b8860b; 
    --ion-color-secondary-rgb: 184, 134, 11;
  
    --ion-color-tertiary: #2e8b57; 
    --ion-color-tertiary-rgb: 46, 139, 87;
  
    --ion-color-light: #f9f6f2; 
    --ion-color-light-rgb: 249, 246, 242;
  
    --ion-color-dark: hsl(0, 0%, 0%); 
    --ion-color-dark-rgb: 0, 0, 0;
  
    --ion-background-color: var(--ion-color-light);
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    
  }

  
  
  
  ion-button {
    --border-radius: 20px;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 8px;
    --padding-bottom: 8px;
  }
  
  
  ion-input {
    --border-bottom: 1px solid #ccc;
    --padding-bottom: 8px;
  }
  
  
  ion-header ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
  }