<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/pocetna"></ion-back-button>
    </ion-buttons>

    <ion-title>termini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">termini</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/pocetna" color="tertiary" fill="solid">
      Pocetna
    </ion-button>
  </ion-buttons>

</ion-content>
